*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:cursive;
}


header{
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 24px;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 10px rgb(174, 163, 163);
}


header a{
    text-decoration: none;
    margin-right: 30px;
   
    color: black;
    font-weight: bold;
    font-size: 14px;
}
a:hover{
    color: chocolate;
}

.containernav{
    display: flex;
    justify-content: space-around;
    
}
nav button{
    background-color: chocolate;
    padding: 10px;
    width: 120px;
    border: none;
    border-radius: 4px;
    color: aliceblue;
    font-weight: bold;
    font-size: 13px;
   
}

.logo{

    width: 14%;
    margin-left: -100px; 
  

}
.banner-container img{
    margin: 0;
    margin-left: 0;
    padding: 0;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 85vh;
    width: 1519px;
}
.btncontainer{
    display: flex;
    margin-top: 19px;
    margin-bottom: 36px;
    justify-content: center;
}
.btncontainer button{

    background-color: rgb(242, 2, 170);
    width: 160px;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-weight: bolder;
    
}
section{
    width: 1519px;
}
.container2{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  
}
.icons{
   height: 90px;
   margin-left: 40px;
}
.iconwrapper{
    padding-right:36px;
   
   

}
.iconwrapper p{
   font-weight: bolder;
}

.section3{
    display: flex;
  
}
.section3 img{
    width: 759px;
}

.section4{
    height: 1300px;
    width: 100%;
    background-image:url("./assets/bg1.jpg");

}
.sectionheading{
    display: flex;
    justify-content: center;
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight:bolder;
    padding: 10px;

}
.s4container{
    display: flex;
    padding: 10px;
   
    flex-direction: row;
    margin-left: 40px;
    flex-wrap: wrap;
}

.innercontainer{
height: 500px;
width: 450px;
margin-top: 30px;
margin-left: 23px;
background-color: white;
border-radius: 6px;
border-color: blue;


 box-shadow: 10px 10px 10px rgb(232, 226, 226);

}
.innercontainer:hover{
    box-shadow: 20px 20px 60px rgb(124, 119, 119);
    animation: expand .5s forwards ;
    
    cursor: pointer;
}
@keyframes expand {
    from{
        margin-top: 30px;
    }
    to{
      margin-top:  22px;
    }
}

.innercontainer div img{
    width: 450px;
}
.proddescrp{
    padding: 10px;
    display: flex;
  
    justify-content: space-between;
   
}
.proddescrp div h1{
    margin-left: 10px;
    font-size: 18px;
    font-family: 'Fredoka One', cursive;
}
.proddescrp div button{
    background-color: chocolate;
    margin-right: 18px;
    margin-top: 8px;
    padding: 10px;
    width: 130px;
    border: none;
    border-radius: 4px;
    color: aliceblue;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 5px 5px 4px rgb(236, 222, 222);
   
}
.description{
    margin-left: 16px;
    font-weight: bold;
}



footer .container{
 height: 278px;
width: 100%;
background-color: rgba(105, 39, 0, 0.96);

}

.footerlogo{
   
    margin-top: 62px;
    margin-left: 72px;
    width: 14%;
}
.containerfooter{
    display: flex;
    padding-left: 50px;
    padding-top: 20px;
   
    
   
}
.containerfooter a{
    margin-left: 20px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    margin-bottom: 10px;
   
}
.borderline{
    margin-left: 60px;
    height: 1px;
    width: 92%;
    background-color: rgb(112, 129, 86);
}

.footerpart2{
    display: flex;
    margin-top: 20px;
    
    justify-content: space-between;
    margin-left: 40px;
}
.footerpart2 a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
}
.footerpart2 div{
    margin-right: 46px;
}
















/* }
.slider{
    width: auto;
    height: 87vh;
   
    overflow: hidden;
}

.slide{
    width: 500%;
    height: 500px;
    display: flex;
}
.slide input{
    display: none;
}
.st{
    width: 20%;
}

/* .st img{
    width: 800px;
    height: 500px;
} */

/* .nav-m{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}


.m-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.m-btn:not(:last-child){
    margin: right 30px; ;
}
.m-btn:hover{
    background-color: aliceblue;
}

#radio1:checked~.first{
    margin-left: 0;
}
#radio2:checked~.first{
    margin-left: -20%;
}
#radio3:checked~.first{
    margin-left: -40%;
}
#radio4:checked~.first{
    margin-left: -60;
}   */